.weather-app-wrapper {max-width: 600px;
    margin: 30px auto;

}

.my-weather-apps  {
padding: 20px;
border: 1px solid #dadde1;
background-image: url("../media/cloudy2.jpg");
}
 
html, body {
    display: block;
    margin: auto;
    text-align: center;
    padding: 40px;
    
}

#entryForm { text-align: left;
    padding: 40px;

}

#searchButton { border-radius: 10px;
    margin: 10px;
    padding: 2px 5px;

}

button { border-radius: 10px;
    margin: 10px;
    padding: 2px 5px;

}

#row1{ padding: 20px;
    margin: 20px;

}

#h3{ font-size: 25px;

}


ul { list-style-type: none;

}

#forecastDate{
    font-size: 16px;
    opacity:0.5;
}

#minTemp{
    opacity: 0.5;
}

#forcastTemperatures{
    font-size: 13px;
}