.weather-app-wrapper {max-width: 600px;
    margin: 10px auto;
}

.background {background-image: url("../media/cloudy2.jpg");

}

.my-weather-apps {
padding: 20px;
border: 1px solid #dadde1;
background-color: #fff;
box-shadow: 10px 5px 5px #8a8888;
opacity: 0.8;
}
 
html, body { font-family: 'DM Sans', sans-serif;
     display: block;
    margin: auto;
    text-align: center;

}

#entryForm { text-align: left ;
    padding: 40px;

}

#input1 {
    border-radius: 10px;
}

#searchButton { border-radius: 10px;
    margin: 10px;
    padding: 2px 5px;

}


#row1{ padding: 20px;
    margin: 20px;

}

#h3{ font-size: 25px;

}


ul { list-style-type: none;

}

#forecastDate{
    font-size: 16px;
    opacity:0.5;
}

#minTemp{
    opacity: 0.5;
}

#forcastTemperatures{
    font-size: 13px;
}

#conditions{ font-size : 16px;

}